<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Caacbay_ITPEL_PT3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines= "full">
    <ion-item>
      <ion-label position = "floating">StudentID</ion-label>
      <ion-input [(ngModel)]="student_num" type = "text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position = "floating">Student Name</ion-label>
      <ion-input [(ngModel)]="student_name" type = "text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position = "floating">Course</ion-label>
      <ion-input [(ngModel)]="student_course" type = "text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position = "floating">Year</ion-label>
      <ion-input [(ngModel)]="student_year" type = "text"></ion-input>
    </ion-item>
  <ion-item>
    <ion-label position = "floating">Address</ion-label>
    <ion-input [(ngModel)]="address" type = "text"></ion-input>
  </ion-item>
<ion-row>
  <ion-col>
    <ion-button type="button" (click)="addStudent()"
    color = "primary" shape="full" expand="block">Add student
  </ion-button>
  </ion-col>
</ion-row>
</ion-list>
<ion-list>
<ion-list-header>Student List</ion-list-header>
<ion-item lines="inset" *ngFor="let student of students"></ion-item>
</ion-list>
</ion-content>
