<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Caacbay_ITPEL OE6
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines= "full">
    <ion-item>
      <ion-label position = "floating">StudentID</ion-label>
      <ion-input [(ngModel)]="student_num" type = "text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position = "floating">Student Name</ion-label>
      <ion-input [(ngModel)]="student_name" type = "text"></ion-input>
    </ion-item>
  <ion-item>
    <ion-label position = "floating">Address</ion-label>
    <ion-input [(ngModel)]="address" type = "text"></ion-input>
  </ion-item>
<ion-row>
  <ion-col>
    <ion-button type="button" (click)="addStudent()"
    color = "primary" shape="full" expand="block">Add student
  </ion-button>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-button type="button" (click)="getStudents()" color="primary" shape="full" expand="block">View Student</ion-button>
  </ion-col>
</ion-row>
</ion-list>

<ion-list>
<ion-list-header>Student List</ion-list-header>
<ion-item lines="inset" *ngFor="let student of students">
<ion-label>
  <h5>ID: {{student.id}}, Name: {{student.name}}</h5>
</ion-label>
<div class = "item-note">
  <ion-icon name = "create" style = "zoom: 2.0;"></ion-icon>
  <ion-icon name="trash" style="zoom: 2.0;" (click)="deleteStudent(student.id)"> </ion-icon>
</div>
</ion-item>
</ion-list>
</ion-content>
